In [1]:
import numpy as np
import pandas as pd
from pandas import DataFrame
import matplotlib.pyplot as plt
from scipy.stats import norm, entropy 
from scipy.stats import probplot
import matplotlib.pyplot as plt
from scipy.stats import logistic
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn import metrics
from sklearn.utils import resample
from sklearn import svm
from sklearn.metrics import classification_report, confusion_matrix, roc_curve
from sklearn.preprocessing import Imputer

In [18]:
column_names=["player","balls"]
df = pd.read_csv('avg_balls_played 2.csv')
df=df.rename(columns={"Unnamed: 0":"Player"})

In [19]:
df.head()

           Player    Avg_Balls
0  A Ashish Reddy  5.639341197
1        A Chopra  6.268629915
2     A Dananjaya   8.41191231
3      A Flintoff  6.986965387
4        A Kumble  4.291479907

In [20]:
df_teamInfo = pd.read_csv('team_players.csv').drop(columns="Unnamed: 0")
df_teamInfo

        Chennai Super Kings     Mumbai Indians
0            Abhinav Mukund     Abhishek Nayar
1              Albie Morkel     Ajinkya Rahane
2        Anirudha Srikkanth          André Nel
3        Chamara Kapugedera      Ankeet Chavan
4                Jacob Oram     Ashwell Prince
5           Joginder Sharma       Ashish Nehra
6           KB Arun Karthik    Dhawal Kulkarni
7       Lakshmipathy Balaji   Dilhara Fernando
8      Mahendra Singh Dhoni   Dominic Thornley
9             Makhaya Ntini       Dwayne Bravo
10            Manpreet Gony       Dwayne Smith
11           Matthew Hayden      Gaurav Dhiman
12              Mike Hussey    Harbhajan Singh
13     Muttiah Muralitharan     Lasith Malinga
14        Napoleon Einstein       Loots Bosman
15          Palani Amarnath        Luke Ronchi
16            Parthiv Patel      Manish Pandey
17      Ravichandran Ashwin  Mohammad Ashraful
18      Selvam Suresh Kumar      Musavir Khote
19            Shadab Jakati         Pinal Shah
20          Stephen Fleming       Rajesh Pawar
21    Subramaniam Badrinath      Robin Uthappa
22             Sudeep Tyagi         Rohan Raje
23             Suresh Raina   Sachin Tendulkar
24  Vidyut Sivaramakrishnan  Sanath Jayasuriya
25              Viraj Kadbe     Saurabh Tiwary
26              Player Name      Shaun Pollock
27              Player Name  Siddharth Chitnis
28              Player Name      Swapnil Singh
29              Player Name   Vikrant Yeligati
30              Player Name    Yogesh Takawale

In [70]:
#getting average balls played by each player
arry=[]
for i in df_teamInfo.columns:
    print(i)
    arry.append(df_teamInfo[i].values)
    
all_players=df.Player.values
all_balls=df.Avg_Balls.values

# print("1--",all_players[0:10],"\n",arry)

def name(s): 
  
    # split the string into a list  
    l = s.split() 
    new = "" 
  
    # traverse in the list  
    for i in range(len(l)-1): 
        s = l[i]   
        # adds the capital first character  
        new += (s[0].upper())       
    # l[-1] gives last item of list l. We 
    # use title to print first character in 
    # capital. 
    new += l[-1].title()   
    return new 

new_name_arry0=[]
for i in arry[0]:
    new_name_arry0.append(name(i))
    
new_name_arry1=[]    
for i in arry[1]:
    new_name_arry1.append(name(i))
    
new_name_all_players=[]
for i in all_players:
    new_name_all_players.append(name(i))

# print("2---",new_name_arry)
    
team1_dict=[]
for i in range(len(new_name_arry0)): 
    if new_name_arry0[i] in new_name_all_players:
        team1_dict.append(all_balls[i])
    else:
        team1_dict.append(0)
        
team2_dict=[]
for i in range(len(new_name_arry1)): 
    if new_name_arry1[i] in new_name_all_players:
        team2_dict.append(all_balls[i])
    else:
        team2_dict.append(0)

print("4--",team1_dict)
print("5--",team2_dict)

Chennai Super Kings
Mumbai Indians
BallsTeam1
BallsTeam2
('4--', ['5.639341197', 0, 0, 0, '4.291479907', '5.176498163', '5.895192189', '6.051594145', 0, '6.209820515', '9.333834057', '11.24731227', '6.27976754', '6.801439377', 0, 0, '7.859068792', '4.208158909', 0, '3.964420934', '6.063016641', '13.67360973', 0, '12.2924314', 0, 0, 0, 0, 0, 0, 0])
('5--', ['5.639341197', '6.268629915', 0, '6.986965387', 0, '5.176498163', '5.895192189', 0, 0, '6.209820515', '9.333834057', 0, '6.27976754', 0, 0, '7.209652414', '7.859068792', '4.208158909', 0, '3.964420934', 0, '13.67360973', 0, '12.2924314', '5.750867093', '6.530709358', '6.620562484', '4.568637083', '8.235507594', 0, '9.282910965'])

In [71]:
df_teamInfo["BallsTeam1"]=team1_dict
df_teamInfo["BallsTeam2"]=team2_dict
df_teamInfo

        Chennai Super Kings     Mumbai Indians   BallsTeam1   BallsTeam2
0            Abhinav Mukund     Abhishek Nayar  5.639341197  5.639341197
1              Albie Morkel     Ajinkya Rahane            0  6.268629915
2        Anirudha Srikkanth          André Nel            0            0
3        Chamara Kapugedera      Ankeet Chavan            0  6.986965387
4                Jacob Oram     Ashwell Prince  4.291479907            0
5           Joginder Sharma       Ashish Nehra  5.176498163  5.176498163
6           KB Arun Karthik    Dhawal Kulkarni  5.895192189  5.895192189
7       Lakshmipathy Balaji   Dilhara Fernando  6.051594145            0
8      Mahendra Singh Dhoni   Dominic Thornley            0            0
9             Makhaya Ntini       Dwayne Bravo  6.209820515  6.209820515
10            Manpreet Gony       Dwayne Smith  9.333834057  9.333834057
11           Matthew Hayden      Gaurav Dhiman  11.24731227            0
12              Mike Hussey    Harbhajan Singh   6.27976754   6.27976754
13     Muttiah Muralitharan     Lasith Malinga  6.801439377            0
14        Napoleon Einstein       Loots Bosman            0            0
15          Palani Amarnath        Luke Ronchi            0  7.209652414
16            Parthiv Patel      Manish Pandey  7.859068792  7.859068792
17      Ravichandran Ashwin  Mohammad Ashraful  4.208158909  4.208158909
18      Selvam Suresh Kumar      Musavir Khote            0            0
19            Shadab Jakati         Pinal Shah  3.964420934  3.964420934
20          Stephen Fleming       Rajesh Pawar  6.063016641            0
21    Subramaniam Badrinath      Robin Uthappa  13.67360973  13.67360973
22             Sudeep Tyagi         Rohan Raje            0            0
23             Suresh Raina   Sachin Tendulkar   12.2924314   12.2924314
24  Vidyut Sivaramakrishnan  Sanath Jayasuriya            0  5.750867093
25              Viraj Kadbe     Saurabh Tiwary            0  6.530709358
26              Player Name      Shaun Pollock            0  6.620562484
27              Player Name  Siddharth Chitnis            0  4.568637083
28              Player Name      Swapnil Singh            0  8.235507594
29              Player Name   Vikrant Yeligati            0            0
30              Player Name    Yogesh Takawale            0  9.282910965

In [10]:
df_teamInfo.to_csv("team_avg_balls_played.csv")

In [11]:
df_teamInfo["BallsTeam1"].sum()

12.625

In [12]:
def team_team_info(team1, team2, year):
    import pandas as pd
    path = "Data/%s.csv"%(year)
    data = pd.read_csv(path)
    team1 = data[team1]
    team2 = data[team2]
   
    teams = pd.concat([team1, team2], axis = 1)
    teams = teams.fillna('Player Name')
   
    return teams
df_team_players=team_team_info("Chennai Super Kings","Mumbai Indians","2008")
df_team_players.to_csv("team_players.csv")

In [25]:

array=['Lakshmipathy Balaji', 'Mahendra Singh Dhoni',
       'Makhaya Ntini', 'Manpreet Gony', 'Matthew Hayden', 'Mike Hussey',
       'Muttiah Muralitharan', 'Napoleon Einstein', 'Palani Amarnath',
       'Parthiv Patel', 'Ravichandran Ashwin']

In [68]:
#[1]https://www.geeksforgeeks.org/python-print-initials-name-last-name-full/
def name(s): 
  
    # split the string into a list  
    l = s.split() 
    new = "" 
  
    # traverse in the list  
    for i in range(len(l)-1): 
        s = l[i] 
          
        # adds the capital first character  
        new += (s[0].upper()) 
          
    # l[-1] gives last item of list l. We 
    # use title to print first character in 
    # capital. 
    new += l[-1].title() 
      
    return new  
      
# Driver code             
s ="mk gandhi" 
print(name(s))

MGandhi

In [59]:
new_name_arry=[]
for i in arry[0]:
    new_name_arry.append(name(i))
new_name_arry[0:10]

['AMukund',
 'AMorkel',
 'ASrikkanth',
 'CKapugedera',
 'JOram',
 'JSharma',
 'KAKarthik',
 'LBalaji',
 'MSDhoni',
 'MNtini']

In [58]:
new_name_all_players[0:10]

['AAReddy',
 'AChopra',
 'ADananjaya',
 'AFlintoff',
 'AKumble',
 'AMishra',
 'AMithun',
 'AMukund',
 'ANehra',
 'ASingh']

In [62]:
for i in new_name_arry:
    if i in new_name_all_players:
        print(i)
#     result = np.where(np.array(new_name_all_players) == i)
    
# result

AMukund
JOram
JSharma
KAKarthik
LBalaji
MNtini
MGony
MHayden
MHussey
MMuralitharan
PPatel
RAshwin
SJakati
SFleming
SBadrinath
SRaina